nav(class="navbar navbar-inverse")
    div(class="container-fluid")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-main" aria-expanded="false")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(class="navbar-brand" href="/")
                img(src="images/logo_64.png")
        div(class="collapse navbar-collapse" id="bs-navbar-collapse-main")
            ul(class="nav navbar-nav")
                li(class= menu == "index" ? "active" : "")
                    a(href="/") Inicio