footer(class="container-fluid")
    div(class="row")
        div(class="col-md-4 col-md-offset-1")
            h3 Más sobre nosotros
            ul
                li
                    a(href="contacto") Contacto
                li
                    a(href="presentaciones") Presentaciones
        div(class="col-md-4 col-md-offset-3")
            h3 Contáctanos
            ul
                li
                    i.fa.fa-phone
                    |&nbsp;Teléfono: 
                    a(href="tel:5554783801") 5554783801
                li
                    i.fa.fa-whatsapp
                    |&nbsp;Celular: 
                    a(href="tel:5554783801") 5554783801
                li
                    i.fa.fa-envelope
                    |&nbsp;Email: 
                    a(href="mailto:carnalepitaphcult@gmail.com") carnalepitaphcult@gmail.com
                li
                    i.fa.fa-facebook-official
                    |&nbsp;Facebook: 
                    a(href="https://www.facebook.com/CarnalEpitaphCult/" target="_blank") Carnal Epitaph
                li
                    i.fa.fa-youtube
                    |&nbsp;Youtube: 
                    a(href="https://www.youtube.com/channel/UCQcOI_v5uIgXwgDbzQ5S08Q" target="_blank") Carnal Epitaph 